.piece {
    display: grid;
    place-content: center;
    font-size: 1.8em;
    user-select: none;
}

.piece.valid {
    cursor: pointer;
}

.piece.valid.on-selection {
    color: #b91d1d;
}

.valid > .circle {
    height: 1rem;
    width: 1rem;
    background-color: rgba(0, 0, 0, 0.4);
    border-radius: 50%;
    display: inline-block;
}

.black {
    background-color: #d97706;
}

.white {
    background-color: #fef3c7;
}

.selected {
    box-shadow: 0px 0px 26px 3px #2b2b2b;
    z-index: 99;
    color: black !important;
}